.photo-grid {
    margin: 0;
    margin-top: 92px;
    margin-left: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px 16px;
    margin-right: 48px;
    width: 1184px;
    height: 671px;
    }