.places {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 1fr;
    align-content: flex-end;
    gap: 48px 40px;
	
    margin-top: 80px;
    margin-right: 148px;
    margin-left: 148px;
    
}

.places:first-child {
    margin-top: 92px;
}
 

        
@media screen  and (max-width: 1024px ) {
    .places {
   margin-left: 48px;
   margin-right: 48px;
   gap: 32px 40px;
    }
} 

@media screen  and (max-width: 768px ) {
    .places {
        grid-template-columns: 340px 1fr;
    grid-template-rows: auto 1fr;
   margin-left: 24px;
   margin-right: 24px;
   gap: 28px 48px;
    }
} 

@media screen and (max-width: 689px){
    .places {
        grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 50px;
   margin-left: 0px;
   margin-right: 0px;
   gap: 32px;
} 
}
@media screen  and (max-width: 320px ) {
    .places {
        grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 50px;
  
}
}