.places {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr 460px;
    align-content: flex-end;
    gap: 48px 40px;
	width: 984px;
    margin-top: 80px;
    margin-right: 148px;
    margin-left: 148px;
    
}

.places:first-child {
    margin-top: 92px;
}