.header__lang_link {
    position: absolute;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: none;
    margin-right: 18px;
    color: #FFFFFF;
    right: 48px;
    top: 46px;
   
    

}
.header__lang_link:nth-last-child(1) {
    margin-right: 0;
    
}