.photo-grid__item {
	margin: 0;
	width: 284px;
	height: 213px;
}

/* .photo-grid__item:nth-child(1) {
	grid-row: 1;
	grid-column: 1;
}

.photo-grid__item:nth-child(2) {
	grid-row: 1;
	grid-column: 2;
}

.photo-grid__item:nth-child(3) {
	grid-row: 1;
	grid-column: 3;
} */