.lead__subtitle {
    margin: 0;
    width: 640px;
height: 72px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin-top: 32px;
    margin-right: 172px;
    margin-left: 172px;
    
    text-align: center;
    
    color: #FFFFFF;


}