.cover {
    position: relative;
margin: 0;
margin-top: 92px;
    background-image: url(../../images/cover-trains.jpg);
   
    width: auto;

    background-size: cover;
    background-position: center;
  
    margin-right: 48px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
    
    
   
    }

    .cover::before  {
        background-color: #2A2C2F;
        opacity: 0.3;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    .cover:hover::before {
        opacity: 0.8;
    }
    
    .cover::after {
      display: block;
      content: '';
      padding-bottom: 62.5%;
      width: 100%;

    } 
    
      

    
    @media screen  and (max-width: 1024px ) {
        .cover {
       margin-left: 0;
       margin-right: 0;
    
        }
    } 

     

    
@media screen  and (max-width: 320px ) {
    .cover {
  margin-top: 66px;

    }
} 