.lead__caption {
	margin: 0;
	margin-top: 8px;
	margin-left: 18px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
}

@media screen and (max-width: 320px) {
	.lead__caption {
		font-size: 10px;
		line-height: 14px;
	}
}