.cover__title {
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
width: 100%;
height: 100%;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
z-index: 10;
}

.cover__title:hover+.cover__image {
    opacity: 0.2;
    
    }