.places__paragraph-item {
	margin: 0;
	line-height: 163%;
}

.places__paragraph-item:last-child {
	margin-top: 26px;
}

@media screen and (max-width: 1023px) {
	.places__paragraph-item {
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {
	.places__paragraph-item:last-child {
		margin-top:0;
	}
}
